* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 500px;
    width: 100%;
    height: 800px;
    background-color: #353740;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header{
    background-color: rgba(68,70,84);
    border-radius: 10px;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    color: rgb(175, 177, 192);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form input {
    background-color: #353740;
    color: white;
    width: 43%;
    padding: .5rem 1rem;
    margin: 1rem .5rem;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
}

form input::placeholder {
    color: white;
}

button {
    color: cornflowerblue;
    font-size: 18px;
    padding: .5rem 1rem;
    margin: 1rem .5rem;
    background-color: #353740;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    color: white;
}

td img {
    width: 40px;
}

th,
td {
    text-align: center;
    padding: 1rem 1rem;
}

th {
    color: rgb(175, 177, 192);
}

tbody tr {
    background-color: rgba(68,70,84);
}
